*.pyc
*.cache
*.jpg
*.lock

backend/instance/

data

backend/function/recognition/data/
backend/function/recognition/detect/
backend/function/recognition/data/model/
backend/function/recognition/runs/
backend/function/recognition/train_fuction/detect/

node_modules



test


